a{
    text-decoration: none;
}
#header{
    width: 100%;
     background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 13%, rgba(99,195,84,1) 100%);;
    .logo{
        width: 20%;
    }
    .nav-right{
        width: 80%;
        align-items: center;
        ul{
          list-style: none;
          margin-top: 40px;
          li{
            justify-content: space-around;
            a{
                padding:0 40px;
                color: black;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            .user{
                color: white;
                background-color: green;
                padding: 5px 5px;
                border-radius: 5mm;
            }
          }
        }
    }
    .res-icon{
      opacity: 0;
        visibility: hidden;
    }
}
#footer{
    width: 100%;
    height:auto;
    background-color:#18CA34;
    clip-path: polygon(53% 28%, 36% 23%, 20% 19%, 9% 17%, 0 18%, 0 100%, 100% 100%, 100% 32%, 100% 24%, 94% 25%, 86% 27%, 71% 30%);
    padding-top:200px;
    padding-left: 200px;
   .img-logo{
    width: 150px;
    margin-bottom: 30px;
   } 
   h2{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
    color: white;
    margin-bottom: 30px;
   }
   p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
   }
   i{
    color: white;
    padding: 0 5px;
   }
   .box-p{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
   }
   .box-a{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: white;
   }
}
